[
  {
    "name": "frontend",
    "image": ${jsonencode(image)},
    "essential": true,
    "portMappings": [
      {
        "containerPort": 8501,
        "protocol": "tcp"
      }
    ],
    "environment": [
      {
        "name": "BACKEND_URL",
        "value": ${jsonencode(backend_service_url)}
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": ${jsonencode(awslogs_group)},
        "awslogs-region": ${jsonencode(aws_region)},
        "awslogs-stream-prefix": "ecs"
      }
    }
  }
]
